@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Public Sans', sans-serif;
}

.products__container h2 {

    text-align: center;
    color: #0DA487;
    font-size: 3rem;
    font-weight: 700;
}



.products__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}












.cards__container__admin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(222, 222, 222);
}

.cards__container__admin figure img {
    width: 200px;

}

.card__admin__btns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_admin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}