@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

:root {
    --gree: #0da487;
    --oranre: #ffa53c;

}



.header__top {
    background-color: var(--gree);
    color: #fff;
    font-size: 14px;

}

.header__top__info {
    padding: .5rem;
}

.header__ubication {
    gap: 1rem;
    align-items: center;
}

.lenguage__flag {
    gap: .5rem;
    align-items: center;
    border-right: 2px solid rgba(255, 255, 255, 0.473);
    padding-right: .5rem;



}


.header__top__lenguage {
    align-items: center;
}

.usd {
    padding-left: .5rem;
    border-right: 2px solid rgba(255, 255, 255, 0.473);
    padding-right: .5rem;
}

.nav__container {
    font-size: 2.5rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

}

.navlogo .sLogo1 {
    color: var(--gree);
}

.navlogo .sLogo2 {
    color: #222;
}


.search__container {
    position: relative;
}

.btn-outline-success {
    background-color: var(--oranre);
    color: #fff;
    border: none;
    position: absolute;
    right: 0;
    padding: .9rem 1.2rem;

}

.btn-outline-success input {
    margin: 0;

}

.form-control {
    width: 25rem;
    padding: .8rem;
}

.nav__icons ul {
    display: flex;
    gap: 1.2rem;
}

.nav__icons ul li {
    list-style: none;
}

.nav__icons ul li a img {
    width: 25px;
}

.cart {
    position: relative;

}

.cart__amount {
    width: 16px;
    height: 16px;
    display: grid;
    place-content: center;

    position: absolute;
    font-size: 15px;
    background-color: var(--gree);
    color: #fff;
    top: 17px;
    right: -5px;
    border-radius: 3px;

}



.hero_01 img {
    width: 100%;
    border-radius: 15px;


}

.hero_02 img {
    width: 100%;
    border-radius: 15px;

}

.hero_03 img {
    width: 100%;
    border-radius: 15px;
}

.hero_04 img {
    width: 100%;
    border-radius: 15px;

}

.hero_05 img {
    width: 100%;
    border-radius: 15px;

}

.hero_06 img {
    width: 100%;
    border-radius: 15px;

}

.hero_rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.hero__main__bottom {
    padding-top: 1rem;
}


.product__card__title {
    font-weight: 700;
}

.card__img {
    width: 100%;
}

.cards__grid {
    width: 100%;

}

.cards__grid-01 {

    overflow: hidden;
}

.card {
    padding: 1rem;
}

.card h3 {
    font-size: .8rem;
}

.card i {
    color: var(--gree);
}


.price_buy {
    color: var(--gree);
    font-weight: 600;
}

.ofert {
    font-size: .75rem;
    color: #8b8b8b;
    text-decoration: line-through;
}

.add-to-car__btn {
    text-align: center;
    margin: 0 auto;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--gree);
    color: #fff;
    border-radius: 2rem;
    width: 10rem;
    padding: .5rem 0;
    margin-top: 1rem;
}

.add-to-car__btn img {
    width: 1.5rem;
    margin-right: .8rem;
    color: #fff;
}

.input__add {

    display: flex;

    align-items: center;
    position: relative;
    margin: .8rem 0;

}

.input__add input {
    text-align: center;
    border: none;
    outline: none;
    color: #8b8b8b;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    padding: .3rem;
    border-radius: 35px;

}

.input__minus {
    /* width: 1rem;
    height: 1rem; */
    padding: .5rem;
    background-color: #fff;
    position: absolute;
    left: 16px;
    border-radius: 50%;

}

.input__minus:hover {
    cursor: pointer;
}

.input__plus {
    /* width: 1rem;
    height: 1rem; */
    padding: .5rem;
    background-color: #fff;
    position: absolute;
    right: 16px;
    border-radius: 50%;
}

.input__plus:hover {
    cursor: pointer;
}


.modal__modif {
    position: absolute;
    right: 0;
}

.product__Card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(241, 241, 241);
}

.product__Card__img {
    width: 100px;
}



.modal__box {
    display: none;
    width: 400px;
    /* min-height: 400px; */
    border: 1px solid #000;
    position: absolute;
    top: 6rem;
    right: 2rem;
    background-color: #f5f5f5;
    padding: .6rem 1.1rem;
    border: none;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    /* transform: translateX(30rem); */
}

.modal__box--disable {
    display: block;
}

.xModal {
    position: absolute;
    right: 45px;
    top: 25px;
    cursor: pointer;
}


.modal__tittle {
    color: var(--gree);
}

.subTotal {
    text-align: right;
    margin-top: 3rem;
}

/* .btns__container {
    margin-top: 2rem;
} */

.btns__container button {
    display: block;
    text-align: center;
    margin: .5rem auto;
    width: 100%;
    padding: .5rem 0;

}

.checkout__btn {
    background-color: var(--gree);
    color: #fff;
    border: none;

}

.view__btn {
    border: 1px solid #0da487;
}


/* estylos de carrito modal */

.cart__item figure img {
    width: 100px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash_icon {
    color: var(--gree);
    cursor: pointer;
}

.xCard {
    display: grid;
    place-content: center;
    position: absolute;
    right: 1.3rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.5rem;

    border-radius: 50%;
    transition: all .3s ease;

}

.xCard:hover {
    transform: scale(1.1);
}

.category__container {
    background-color: #dfdfdf;
    border-radius: 1.5rem;
    margin-right: ;
    padding: 2rem;

}

.main__products {
    margin-top: 3rem;
    display: flex;

}

.navlogo a {
    text-decoration: none;
}


.category__link__img {
    width: 25px;
    margin-right: 1rem;

}

.categorys__links {
    margin-top: 5rem;
}

.category__link {
    display: flex;
    color: #666666;

    align-items: center;
}

.categorys__links {
    display: flex;

    flex-direction: column;
    gap: 1rem;
}

.product__container {
    padding: 0 2rem;
}